:root {
    --primary-color: #5B67DE;
    --secondary-color: #5BA7DE;
    --accent1-color: #DE925B;
    --accent2-color: #A7DE5B;
    --heading-font: "times new roman", "garamond", serif;
    --body-font: "verdana", "arial", sans-serif;
    --border-style: 1px solid black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header {
    background-color: var(--secondary-color);
    color: var(--accent1-color);
} */

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    background-color: var(--accent2-color);
    color: var(--primary-color);
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 16px;
    opacity: 0.8;
}

article {
    position: absolute;
    top: 392px;
    right: 320px;
    width: 60%;
    padding: 3px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: black;
    border: var(--border-style);
   
}

.hero article img {
    float: right;
    width: 125px;
    border: var(--border-style);
}