:root {
    --primary-color: #141A61;
    --secondary-color: black;
    --accent1-color: #DE925B;
    --accent2-color: #A7DE5B;
    --heading-font: "times new roman", "garamond", serif;
    --body-font: "verdana", "arial", sans-serif;
    --border-style: 1px solid black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header, main, footer {
    max-width: 840px;
    margin: 0 auto;
    border: var(--border-style);
    border-radius: 5px;

}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    background-color: var(--accent2-color);
}

header img {
    padding: 1.5rem;
    padding-left: 3rem;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style-type: none;
}

li a {
    text-decoration: none;
    background-color: white;
    font-size: 1.2rem;
    padding: 1rem;
    border: var(--border-style);
    color: var(--primary-color);
}

.contact-section {
    margin-top: 1rem;
    margin-bottom: 1rem; 
}

h1, h2 {
    font-family: var(--heading-font);
    background-color: var(--accent2-color);
    color: var(--primary-color);
    text-align: center;
}

nav, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    grid-column: 4/5;
}

.socialmedia a {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
}

a img {
    width: 50px;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    grid-column: 1/6;
    width: 100%;
    padding: 16px;
    opacity: 0.8;
}

.hero article {
    position: absolute;
    top: 392px;
    right: 320px;
    width: 60%;
    padding: 3px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    border: var(--border-style);
}

.hero article img {
    float: right;
    width: 125px;
    border: var(--border-style);
}

section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

h2 {
    grid-column: span 5;
    font-size: 1.8rem;
}

section p {
    grid-column: span 2;
}
section img {
    grid-column: 3/4;
    width: 150px;
    height: auto;
    padding-top: 1rem;
}
figure {
    grid-column: span 1;
    justify-self: center;
}

figcaption {
    text-align: center;
    color: var(--primary-color);
}

figure img {
    width: 150px;
    height: auto;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer p {
    grid-column: span 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.company-info {
    grid-column: 1/6;
    grid-row: span 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.map{
margin: 2.25rem 5px 5px;
}

form {
    grid-column: 3/6;
    grid-row: 2/6;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    align-items: center;
}

label, input, textarea, button {
    font-family: inherit;
    font-size: 100%;
}

label, input, textarea {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 0.9rem;    
    color: var(--primary-color);
    text-align: left;
}

input[type="checkbox"], input[type="radio"] {
    width: 15px;
    height: 15px;
}

fieldset {
    display: grid;
    grid-gap: 0.25rem;
    margin: 0.5rem;
    border: none;
    padding: 0.5rem;
}

.contact {
    display: flex;
    justify-content: flex-start;
}

.purpose {
    display: grid;
    grid-template-columns: 20% 5% 75%;
}

.purpose label, input[type="radio"] {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0.2rem 0.3rem;
}

.message {
    display: block;
}

button{
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    border-radius: 0.5rem;
    border: var(--border-style);
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    font-size: 1rem;
    font-weight: 600;
}

button:hover {
    background-color: var(--primary-color);
    color: white;
}

.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-top: 2px;
}

textarea {
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}