:root {
    --primary-color: #141A61;
    --secondary-color: #000000;
    --accent1-color: #DE925B;
    --accent2-color: #A7DE5B;
    --heading-font: "times new roman", "garamond", serif;
    --body-font: "verdana", "arial", sans-serif;
    --border-style: 1px solid #A7DE5B;
    --img-border-style: 3px ridge #A7DE5B;
    --box-shadow-style: 3px 3px 5px 1px var(--primary-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header, main, footer {
    max-width: 840px;
    margin: 0 auto;
    border: var(--border-style);
    border-radius: 5px;

}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    background-color: var(--accent2-color);
}

header img {
    padding: 1.5rem;
    padding-left: 3rem;
    border: none;
    box-shadow: none;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style-type: none;
}

li a {
    text-decoration: none;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    border: var(--border-style);
    color: var(--primary-color);
}

.contact-section {
    margin-top: 1rem;
    margin-bottom: 1rem; 
}

h1, h2 {
    font-family: var(--heading-font);
    background-color: var(--accent2-color);
    color: var(--primary-color);
    text-align: center;
    width: 100%;
    border-top: 1px solid #000000;
}

nav, section, article {
    margin: 16px;
    padding: 8px;
}

img {
    border: var(--img-border-style);
    border-radius: 5px;
    box-shadow: var(--box-shadow-style);
}

.socialmedia {
    display: flex;
    flex-direction: row;
    grid-column: 4/5;
}

.socialmedia a {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
}

a img {
    width: 50px;
    height: auto;
    border: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border: none;
    box-shadow: none;
}

.hero-h1 {
    position: absolute;
    top: 25px;
    width: 100%;
    padding: 16px;
    opacity: 0.8;
}

h1 {
    grid-column: 1/6;
    padding: 16px;
}

.hero article {
    position: absolute;
    top: 392px;
    right: 320px;
    width: 60%;
    padding: 5px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    border: var(--border-style);
    box-shadow: var(--box-shadow-style);
}

.index {
    position: absolute;
    top: 100px;
    left: 240px;
    padding: 10px;
    width: auto;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    border: var(--border-style);
}
.index p {
    padding-bottom: 5px;
    margin: 5px;
    color: var(--secondary-color);
}
.hero a, .three-columns a, .two-columns a {
    text-decoration: none;
    padding: 5px;
    color: var(--primary-color);
    background-color: #fff;
    border: var(--img-border-style);
    border-radius: 5px;
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
    border: var(--img-border-style);
    box-shadow: var(--box-shadow-style);
}

section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
}

h2, caption {
    grid-column: span 5;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

section p {
    grid-column: span 2;
    margin-left: 10px;
    margin-right: 10px;
}
section img {
    grid-column: 3/4;
    width: 150px;
    height: auto;
    margin: 3px;    
}
figure {
    grid-column: span 1;
    justify-self: center;
}

figcaption {
    text-align: center;
    color: var(--primary-color);
}

figure img {
    width: 150px;
    height: auto;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer p {
    grid-column: span 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.company-info {
    grid-column: 1/6;
    grid-row: span 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.map{
margin: 2.25rem 5px 5px;
}

form {
    grid-column: 3/6;
    grid-row: 2/6;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    align-items: center;
}

label, input, textarea, button {
    font-family: inherit;
    font-size: 100%;
}

label, input, textarea {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 0.9rem;    
    color: var(--primary-color);
    text-align: left;
}

input[type="checkbox"], input[type="radio"] {
    width: 15px;
    height: 15px;
}

fieldset {
    display: grid;
    grid-gap: 0.25rem;
    margin: 0.5rem;
    border: none;
    padding: 0.5rem;
}

.contact {
    display: flex;
    justify-content: flex-start;
}

.purpose {
    display: grid;
    grid-template-columns: 20% 5% 75%;
}

.purpose label, input[type="radio"] {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0.2rem 0.3rem;
}

.message {
    display: block;
}

button{
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    border-radius: 0.5rem;
    border: var(--img-border-style);
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    font-size: 1rem;
    font-weight: 600;
}

button:hover {
    background-color: var(--primary-color);
    color: white;
}

.three-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr 1fr;
    place-items: center;
    margin-top: 2px;
}

.three-columns p, .three-columns a {
    grid-column: span 3;
}

.two-columns {
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    margin: 2px auto;
    row-gap: 2rem;
}

.two-columns figure {
    justify-self: flex-start;
    margin-left: 1rem;
    width: 100%;
    height: auto;
}
.two-columns p {
    padding: 0.5rem;
    border: var(--border-style);
    border-radius: 5px;
    text-align: center;
}

.two-columns a, .two-columns h3 {
    grid-column: span 2;
}
textarea {
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.newsletter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: var(--border-style);
    border-radius: 0.5rem;
}

.newsletter h2, section h2 {
    width: auto;
    padding: 5px 10px;
    font-size: 1.5rem;
}
.newsletter img {
    max-width: 120%;
    height: auto;
    margin-left: 30px;
}

table {
    border-collapse: collapse;
    border: var(--border-style);
    letter-spacing: 1px;
    margin: 15px auto 30px;
}
th, td {
    border: var(--border-style);
    padding: 8px 12px;
    text-align: center;
}
thead tr, tfoot tr{
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 700;
}
