*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}
:root {
    --border-style: 1px solid black;
}
nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    text-decoration: none;
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
main {
    padding: 10px;
}

h1 {
    text-align: center;
    color: #402D49;
    border-bottom: var(--border-style);
    padding-bottom: 1rem;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--border-style);
    padding: 2px;
    box-shadow: 0 0 20px gray;
    grid-column: 2/3;
    margin: 1rem;
}

p {
    margin: 1rem;
    padding: 5px;
}

li a {
    color: black;
}

aside {
    position: relative;
    width: 20rem;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 60px;
    left: 70px
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 25px;
    border-top: var(--border-style);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--border-style);
    padding: 1rem;
    background-color: #9C78AD;
    color: black;
}