:root {
    --border-style: 1px solid black;
}
nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-style);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border-style);
    padding: 1rem;
    background-color: #eee;
    color: black;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 25px;
    border-top: var(--border-style);
    text-align: center;
}