*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --border-style: 1px solid black;
}
nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    padding: 10px;
    max-width: 840px;
}

h1 {
    text-align: center;
    color: #402D49;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--border-style);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    margin: 1rem;
    padding: 5px;
}

aside {
    position: relative;
    width: 20rem;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 60px;
    left: 70px
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 25px;
    border-top: var(--border-style);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--border-style);
    padding: 1rem;
    background-color: #9C78AD;
    color: #402D49;
}