.callout {
    max-width: 400px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 15px;
    background-color: #247;
    color: white;
	
}

.callout img {
    float: right;
    margin: 0 0 10px 15px;
    border: 2px solid black;
    padding: 3px;
    background-color: white;
    width: 100px;
    height: auto;
	
}

blockquote {
    margin: 0;
	
}

cite {
	display: block;
    border-top: 1px dotted white;
    padding-top: 2px;
    text-align: right;
    font-size: smaller;
}